@charset "UTF-8";
$regular: "Montserrat", sans-serif;
$title: "Barlow Condensed", sans-serif;
$subtitle: "Caveat", sans-serif;
$white: #ffffff;
$bgcolor: #FB7FDA;
$text: #000;
$bgtitle: #ED1FFF;

@mixin text {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
}

@mixin img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

#es-nyx.es-nyx {
  margin: 0 auto;
  padding: 0;
  font-family: $regular;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  max-width: 1300px;
  overflow: hidden;
  background-color: $bgcolor;

  * {
      box-sizing: border-box;
  }
  h2,
  h3,
  h4,

  h5 {
      font-family: $regular;
  }

  .es-kv {
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url("../images/kv-bg.png");
    background-repeat: repeat-y;
    position: relative;
    &__title {
      @include text;
      width: fit-content;
      font-family: $title;
      font-weight: 700;
      font-size: 24px;
      padding: 5px 10px;
      rotate: -2.4deg;
      background-color: $bgtitle;
      color: $white;
      position: absolute;
      top: 1%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }
    &__subtiltes {
      position: relative;
    }
    &__subtitle1 {
      @include text;
      font-family: $subtitle;
      font-weight: 500;
      font-size: 30px;
      color: #213E7C;
    }
    &__subtitle2 {
      @include text;
      width: 90%;
      font-weight: 700;
      font-size: 18px;
      color: #0081D0;
    }
    &__photo {
      @include img;
      margin: 0;
      max-width: 95%;
      animation: 2s slideright;
    }
    &__paperWrapper {
      background-image: url("../images/kv-bg-paper.png");
      background-position: bottom right;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 20px 7% 90px;
      position: relative;

    }
    &__bgPaper {
      @include img;
      display: none;
      margin: 0;
      z-index: 0;
    }
    &__listWrapper {
      position: relative;
    }
    &__list {
      margin: 0;
      padding: 0 30px;
      rotate: -9.5deg;
    }
    &__item {
      list-style: none;
      display: flex;
      align-items: center
    }
    &__text {
      @include text;
      font-family: $subtitle;
      font-weight: 700;
      font-size: 18px;
      color: #213E7C;
    }
    &__packshotWrapper {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px 30px;
      position: relative;
    }
    &__packshotBg {
      @include img;
      animation: 2s pulse2 infinite;
    }
    &__packshot {
      position: absolute;
      height: 88%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  .es-paperDesktop {
    display: relative;
  }

  .es-ingr {
    position: relative;
    &__droplets {
      mix-blend-mode: multiply;
      width: 16%;
      display: none;
    }
    &__upperCtn {
      position: absolute;
      top: 2%;
      left: 50%;
      transform: translateX(-50%);
    }
    &__title {
      @include text;
      margin: 0 auto;
      width: fit-content;
      font-family: $title;
      font-weight: 700;
      font-size: 30px;
      padding: 5px 10px;
      text-transform: uppercase;
      background-color: $bgtitle;
      color: $white;
      &--1 {
          margin-left: 0;
          margin-bottom: 5px;
          rotate: 3.6deg;
      }
      &--2 {
          margin-left: 50px;
          padding: 5px 30px;
          rotate: -2.4deg;
      }
    }
    &__items {
      padding-top: 120px;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-around
    }
    &__item {
      width: 100%;
    }
    &__subtitle {
      @include text;
      padding: 15px;
      font-family: $subtitle;
      font-size: 44px;
      color: #213E7C;
      text-align: center;
    }
    &__text {
      @include text;
      padding: 0 15px;
      font-family: $subtitle;
      font-size: 24px;
      color: #213E7C;
      text-align: center;
    }
    &__wrapper {
      display: flex;
      justify-content: center;
      padding: 15px;
    }
    &__container {
      text-align: center;
      position: relative;
      max-width: 520px;
    }
    &__ingr {
      @include text;
      font-weight: 700;
      font-size: 8px;
      color: #0081D0;
      position: absolute;
      &--1 {
        left: 1%;
        top: 76%;
      }
      &--2 {
        right: 2%;
        top: 10%;
      }
      &--3 {
        right: 1%;
        top: 73%;
      }
    }
    &__packshots {
      @include img;
    }
    &__heartWrapper {
      position: relative;
      animation: 2s pulse2 infinite;
    }
    &__heart {
      @include img;
      transform: rotate(-5.5deg);
    }
    &__textWrapper {
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    &__heartText {
      @include text;
      font-family: $subtitle;
      font-size: 20px;
      color: #213E7C;
      transform: rotate(-10deg);
    }
  }

  .es-htu {
    padding-top: 32px;
    width: 100%;
    &__titleWrapper {
      padding: 10px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    }
    &__title {
      @include text;
      font-family: $subtitle;
      font-size: 40px;
      text-align: center;
      color: #213E7C;
    }
    &__arrow {
      margin-top: 25px;
      padding-right: 30px;
      display: none;
    }
    &__wrapper {
      padding: 10px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    &__item {
      max-width: 300px;
      &:hover {
        .es-htu__img {
          transform: scale(1.1);
        }
      }
    }
    &__desc {
      @include text;
      padding: 20px 10px;
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      color: #213E7C;
    }
    &__number {
      color: #fff;
      font-weight: 700;
    }
    &__img {
      @include img;
      transition: 0.5s all;
    }
  }

  .es-slider {

    margin: 0;
    padding-bottom: 32px;

    &__title {
      @include text;
      margin: 20px auto;
      width: 80%;
      font-family: $title;
      font-weight: 700;
      font-size: 24px;
      text-align: center;
      text-transform: uppercase;
      padding: 5px 10px;
      background-color: $bgtitle;
      color: $white;
    }
    &__item {
      position: relative;
    }
    &__name {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      @include text;
      font-family: $subtitle;
      font-weight: 700;
      font-size: 24px;
      color: #fff;
      text-shadow: 0px 2px 2px rgba(33, 62, 124, 1);
      text-align: center;
      &--2 {
        bottom: 4%;
        font-size: 18px;
      }
    }
    &__desc {
      position: absolute;
      bottom: 3%;
      left: 50%;
      transform: translateX(-50%);
      @include text;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 14px;
      text-shadow: 0px 2px 2px rgba(33, 62, 124, 1);
      color: #fff;
    }
    &__name3 {
      position: absolute;
      top: 1%;
      left: 50%;
      transform: translateX(-50%);
      @include text;
      font-family: $subtitle;
      font-weight: 700;
      font-size: 24px;
      color: #fff;
      text-shadow: 0px 2px 2px rgba(33, 62, 124, 1);
      text-align: center;
      &--2 {
        bottom: 4%;
        font-size: 18px;
      }
    }
    &__desc3 {
      position: absolute;
      top: 9%;
      left: 50%;
      transform: translateX(-50%);
      @include text;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 14px;
      text-shadow: 0px 2px 2px rgba(33, 62, 124, 1);
      color: #fff;
    }
    &__list {
      margin: 0;
      width: 100%;
      padding: 0 7px;
      position: absolute;
      top: 17%;
      left: 50%;
      transform: translateX(-50%);
    }
    &__item {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 0;
    }
    &__tick {
      margin-top: -15px;
      width: 25px;
    }
    &__text {
      @include text;
      font-family: $subtitle;
      font-size: 14px;
      color:#fff;
    }
    &__wrapper {
      padding: 0 16px;
    }
    &__container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    &__img {
      @include img;   
      max-height: 310px; 
    }
    &__slide {
      margin: 0 auto; 
      width: 90%;
    }
    &__content {
      position: relative;
    }



    .es-swiper-pagination {
      padding-top: 50px;
    }
    .es-swiper-slide {
      display: flex;
      width: 100%;
      align-items: center;
      padding: 20px 0 40px;
    }
    .es-swiper-button-prev:after,
    .es-swiper-container-rtl .swiper-button-next:after {
      display: none;
    }
    .es-swiper-button-next:after,
    .es-swiper-container-rtl .es-swiper-button-prev:after {
      display: none;
    }
    .es-swiper-button-next,
    .es-swiper-container-rtl .es-swiper-button-prev {
      right: -1%;
    }
    .es-swiper-button-prev,
    .es-swiper-container-rtl .es-swiper-button-next {
      left: -1%;
    }
  }
  .swiper-pagination-bullet-active {
    background-color: $white;
  }

  .es-video {
    padding: 2% 10% 8%;
    &__container {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      height: 0;
    }
    &__logo {
      position: absolute;
      width: 10%;
      top: 10%;
      left: -5%;
      z-index: 2;
    }
    &__opened {
      position: absolute;
      width: 10%;
      bottom: -21%;
      left: -6%;
      z-index: 2;
    }
    &__glue {
      position: absolute;
      width: 10%;
      bottom: 10%;
      left: -7%;
      z-index: 2;
    }
    &__closed {
      position: absolute;
      width: 15%;
      top: -10%;
      right: -8%;
      z-index: 2;
    }    
    &__droplets {
      position: absolute;
      width: 14%;
      top: 34%;
      right: -12%;
      z-index: 0;
    }
    &__wrapper {
      margin: 0 auto;
      width: 80%;
    }
    iframe {
      border: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

  }

  .es-cross{
    padding: 80px 20px 20px;
    position: relative;
    width: 100%;
    &__upperCtn{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &__title{
        @include text;
        margin-left: 0px;
        width: fit-content;
        font-family: $title;
        font-weight: 700;
        font-size: 22px;
        padding: 5px 10px;
        text-transform: uppercase;
        background-color: $bgtitle;
        color: $white;
        &--1{
            margin-left: 0;
            margin-bottom: 5px;
            rotate: 3.6deg;
        }
        &--2{
            margin-left: 50px;
            rotate: -2.4deg;
        }
    }
    &__productsCtn{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-end;
    }
    &__single{
        max-width: 300px;
        margin: 10px;
        &:hover {
          .es-cross__img {
            transform: scale(1.1);
          }
        }
    }
    &__imgCtn{
        padding: 20px;
    }
    &__img{
      @include img;
      transition: 0.5s all;
    }
    &__nameCtn{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    &__name{
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
    }
    &__descCtn{
        padding: 10px 0;
        min-height: 130px;
    }
    &__desc{
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }
    &__link{
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        background-color: #000;
        width: 200px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 700;
        transition: .4s all ease-in-out;
        display: block;
        margin: 0 auto;
        &:hover{
            background-color: transparent;
            outline: 4px solid #000;
        }
    }
    &__disc {
      padding: 42px 10% 10px;
    }
    &__discText {
      
      @include text;
      margin: 0 auto;
      text-align: center;
      font-size: 12px;
      color: #213E7C;
    }
}
  .es-footer{
      width: 100%;
      background-color: #000;
      padding: 0 20px;
      &__logo{
          margin: 0 auto;
          display: block;
      }
  }
  @media screen and (min-width: 400px) {
    .es-ingr {
      &__item {
        width: 50%;
      }
      &__ingr {
        font-size: 10px;
        &--1 {
          left: -1%;
          top: 76%;
        }
        &--2 {
          right: 2%;
          top: 11%;
        }
        &--3 {
          right: 1%;
          top: 73%;
        }
      }  
    }
  }

  @media screen and (min-width: 500px) {
    .es-kv {
      padding-top: 420px;
      &__photo {
        max-width: 35%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
      &__paperWrapper {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        padding-left: 40%;
        padding-top: 10%;
      }
      &__packshotWrapper {
        
      }
    }
    .es-ingr {
      &__ingr {
        font-size: 12px;
        &--1 {
          left: -1%;
          top: 76%;
        }
        &--2 {
          right: 2%;
          top: 11%;
        }
        &--3 {
          right: 1%;
          top: 73%;
        }
      }  
    }
    .es-cross {
      &__title {
        font-size: 30px;
      }
    }
  }

  @media screen and (min-width: 650px) {
    .es-kv {
      padding-top: 420px;
      &__title {
        font-size: 30px;
      }
      &__photo {
        max-width: 35%;
      }
      &__paperWrapper {

      }
      &__listWrapper {
        padding-left: 20%;
      }
      &__packshotWrapper {
        
      }
    }
    .es-htu {
      &__title {
        font-size: 44px;
      }
      &__arrow {
        display: block;
      }
    }
  }
  @media screen and (min-width: 800px) {
    .es-kv {
      min-height: 400px;
      &__photo {
        max-width: 31%;
      }
      &__paperWrapper {
        width: 80%;
        padding-left: 33%;
        padding-top: 8%;
      }
      &__listWrapper {
        padding-left: 20%;
      }
      &__list {
        padding: 10px 0 0 50px;
      }
      &__packshotWrapper {
        width: 25%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }
    .es-ingr {
      min-height: 47vw;
      background-image: url("../images/paper-1.png");
      background-repeat: no-repeat;
      background-position: bottom right;
      background-size: 80%;
      &__droplets {
        display: block;
      }
      &__subtitle {
        padding: 5px;
        &--1 {
          width: 20%;
          font-size: 26px;
          line-height: 0.5;
          position: absolute;
          bottom: 43%;
          left: 0;
        }
      }
      &__heartWrapper {
          width: 20%;
          position: absolute;
          bottom: 3%;
          left: 1%;
      }
      &__upperCtn {
        position: absolute;
        top: 15%;
        left: 12%;
      }
      &__wrapper {
        position: absolute;
        width: 55%;
        right:19%;
        bottom: 4%;
      }
      &__item {
        position: absolute;
        &:hover {
          transform: scale(1.1);
        }
        &--1 {
          width: 15%;
          bottom: 48%;
          left: 26%;
        }
        &--2 {
          width: 28%;
          bottom: -2%;
          right: 10%;
        }
      }
      &__ingr {
        &--1 {
          left: -1%;
          top: 76%;
        }
        &--2 {
          right: -8%;
          top: 31%;
        }
        &--3 {
          right: -10%;
          top: 53%;
        }
      }
      &__heartText {
        font-size: 14px;
      }
      &__subtitle {
        font-size: 27px;
      }
      &__text {
        font-size: 15px;
      }
    }
    .es-htu {
      background-image: url("../images/paper-2.png");
      background-repeat: no-repeat;
      background-position: top right 13%;
      background-size: 88% 62%;
      &__wrapper {
        flex-wrap: nowrap;
      }
      &__item {
        width: 24%;
      }
    }
    .es-slider {
      &__container {
        flex-wrap: nowrap;
      }
      &__img {
        @include img;   
        max-height: 390px; 
      }
      &__list {
        top: 16%;
      }
      &__name {       
        &--2 {
          font-size: 20px;
        }
      }
    }
  }
  @media screen and (min-width: 1000px) {
    .es-kv {
      min-height: 440px;
      &__title {
        font-size: 44px;
      }
      &__photo {
        max-width: 33%;
      }
      &__paperWrapper {
        width: 80%;
        padding-left: 38%;
        padding-top: 8%;
      }
      &__listWrapper {
        padding-left: 20%;
      }
      &__list {
        padding: 0 0 0 70px;
      }
      &__packshotWrapper {
        width: 25%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }
    .es-ingr {
      &__heartText {
        font-size: 20px;
      }
      &__subtitle {
        font-size: 40px;
      }
      &__text {
        font-size: 20px;
      }
    }
    .es-htu {
      background-size: 88% 74%;
    }
    .es-slider {
      &__name {       
        &--2 {
          font-size: 24px;
        }
      }
    }
  }
  @media screen and (min-width: 1300px) {
    .es-ingr {
      min-height: 611px;
    }
  }
}

@keyframes pulse {
0% {
    transform: scale(1);
}

60% {
    transform: scale(1.4);
}

100% {
    transform: scale(1);
}
}

@keyframes pulse2 {
0% {
    transform: scale(1);
}

60% {
    transform: scale(1.1);
}

100% {
    transform: scale(1);
}
}

@keyframes slidedown {
from {
    opacity: 0;
    transform: translateY(-32px);
}

to {
    opacity: 1;
    transform: translateY(0);
}
}

@keyframes slideright {
from {
    opacity: 0.3;
    transform: translateX(-100px);
}

to {
    opacity: 1;
    transform: translateX(0);
}
}

@keyframes slideleft {
from {
    opacity: 0.3;
    transform: translateX(100px);
}

to {
    opacity: 1;
    transform: translateX(0);
}
}

@keyframes load1 {
from {
    width: 0;
}

to {
    width: 70%;
}
}

@keyframes load2 {
from {
    width: 0;
}

to {
    width: 82%;
}
}

@keyframes load3 {
from {
    width: 0;
}

to {
    width: 98%;
}
}
