#es-nyx.es-nyx {
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  max-width: 1300px;
  overflow: hidden;
  background-color: #FB7FDA;
}
#es-nyx.es-nyx * {
  box-sizing: border-box;
}
#es-nyx.es-nyx .es-kv {
  margin: 0;
  padding: 0;
  background-repeat: repeat-y;
  background-size: 100%;
  position: relative;
}
#es-nyx.es-nyx .es-kv__title {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding: 5px 10px;
  rotate: -2.4deg;
  background-color: #ED1FFF;
  color: #ffffff;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
#es-nyx.es-nyx .es-kv__subtiltes {
  position: relative;
}
#es-nyx.es-nyx .es-kv__subtitle1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: "Caveat", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #213E7C;
}
#es-nyx.es-nyx .es-kv__subtitle2 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  width: 90%;
  font-weight: 700;
  font-size: 18px;
  color: #0081D0;
}
#es-nyx.es-nyx .es-kv__photo {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  margin: 0;
  max-width: 95%;
  animation: 2s slideright;
}
#es-nyx.es-nyx .es-kv__paperWrapper {
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 7% 90px;
  position: relative;
}
#es-nyx.es-nyx .es-kv__bgPaper {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  display: none;
  margin: 0;
  z-index: 0;
}
#es-nyx.es-nyx .es-kv__listWrapper {
  position: relative;
}
#es-nyx.es-nyx .es-kv__list {
  margin: 0;
  padding: 0 30px;
  rotate: -9.5deg;
}
#es-nyx.es-nyx .es-kv__item {
  list-style: none;
  display: flex;
  align-items: center;
}
#es-nyx.es-nyx .es-kv__text {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: "Caveat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #213E7C;
}
#es-nyx.es-nyx .es-kv__packshotWrapper {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 30px;
  position: relative;
}
#es-nyx.es-nyx .es-kv__packshotBg {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  animation: 2s pulse2 infinite;
}
#es-nyx.es-nyx .es-kv__packshot {
  position: absolute;
  height: 88%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#es-nyx.es-nyx .es-kv__cruelty {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  transform: rotate(-27deg);
  position: absolute;
  z-index: 2;
  top: 25%;
  left: 52%;
  width: 49%;
}
#es-nyx.es-nyx .es-paperDesktop {
  display: relative;
}
#es-nyx.es-nyx .es-ingr {
  position: relative;
  background-size: 0;
}
#es-nyx.es-nyx .es-ingr__droplets {
  mix-blend-mode: multiply;
  width: 16%;
  display: none;
}
#es-nyx.es-nyx .es-ingr__upperCtn {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
}
#es-nyx.es-nyx .es-ingr__title {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 30px;
  padding: 5px 10px;
  text-transform: uppercase;
  background-color: #ED1FFF;
  color: #ffffff;
}
#es-nyx.es-nyx .es-ingr__title--1 {
  margin-left: 0;
  margin-bottom: 5px;
  rotate: 3.6deg;
}
#es-nyx.es-nyx .es-ingr__title--2 {
  margin-left: 50px;
  padding: 5px 30px;
  rotate: -2.4deg;
}
#es-nyx.es-nyx .es-ingr__items {
  padding-top: 120px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
}
#es-nyx.es-nyx .es-ingr__item {
  width: 100%;
}
#es-nyx.es-nyx .es-ingr__subtitle {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 15px;
  font-family: "Caveat", sans-serif;
  font-size: 44px;
  color: #213E7C;
  text-align: center;
}
#es-nyx.es-nyx .es-ingr__text {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0 15px;
  font-family: "Caveat", sans-serif;
  font-size: 24px;
  color: #213E7C;
  text-align: center;
}
#es-nyx.es-nyx .es-ingr__wrapper {
  display: flex;
  justify-content: center;
  padding: 15px;
}
#es-nyx.es-nyx .es-ingr__container {
  text-align: center;
  position: relative;
  max-width: 520px;
}
#es-nyx.es-nyx .es-ingr__ingr {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-weight: 700;
  font-size: 8px;
  color: #0081D0;
  position: absolute;
}
#es-nyx.es-nyx .es-ingr__ingr--1 {
  left: 1%;
  top: 76%;
}
#es-nyx.es-nyx .es-ingr__ingr--2 {
  right: 2%;
  top: 10%;
}
#es-nyx.es-nyx .es-ingr__ingr--3 {
  right: 1%;
  top: 73%;
}
#es-nyx.es-nyx .es-ingr__packshots {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
#es-nyx.es-nyx .es-ingr__heartWrapper {
  position: relative;
  animation: 2s pulse2 infinite;
}
#es-nyx.es-nyx .es-ingr__heart {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  transform: rotate(-5.5deg);
}
#es-nyx.es-nyx .es-ingr__textWrapper {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#es-nyx.es-nyx .es-ingr__heartText {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: "Caveat", sans-serif;
  font-size: 20px;
  color: #213E7C;
  transform: rotate(-10deg);
}
#es-nyx.es-nyx .es-htu {
  padding-top: 32px;
  width: 100%;
  background-size: 0;
}
#es-nyx.es-nyx .es-htu__titleWrapper {
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
#es-nyx.es-nyx .es-htu__title {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: "Caveat", sans-serif;
  font-size: 40px;
  text-align: center;
  color: #213E7C;
}
#es-nyx.es-nyx .es-htu__arrow {
  margin-top: 25px;
  padding-right: 30px;
  display: none;
}
#es-nyx.es-nyx .es-htu__wrapper {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#es-nyx.es-nyx .es-htu__item {
  max-width: 300px;
}
#es-nyx.es-nyx .es-htu__item:hover .es-htu__img {
  transform: scale(1.1);
}
#es-nyx.es-nyx .es-htu__desc {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 20px 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #213E7C;
}
#es-nyx.es-nyx .es-htu__number {
  color: #fff;
  font-weight: 700;
}
#es-nyx.es-nyx .es-htu__img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  transition: 0.5s all;
}
#es-nyx.es-nyx .es-slider {
  margin: 0;
  padding-bottom: 32px;
}
#es-nyx.es-nyx .es-slider__title {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 20px auto;
  width: 80%;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 10px;
  background-color: #ED1FFF;
  color: #ffffff;
}
#es-nyx.es-nyx .es-slider__item {
  position: relative;
}
#es-nyx.es-nyx .es-slider__name {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: "Caveat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  text-shadow: 0px 2px 2px rgb(33, 62, 124);
  text-align: center;
}
#es-nyx.es-nyx .es-slider__name--2 {
  bottom: 4%;
  font-size: 18px;
}
#es-nyx.es-nyx .es-slider__desc {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  text-shadow: 0px 2px 2px rgb(33, 62, 124);
  color: #fff;
}
#es-nyx.es-nyx .es-slider__name3 {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: "Caveat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  text-shadow: 0px 2px 2px rgb(33, 62, 124);
  text-align: center;
}
#es-nyx.es-nyx .es-slider__name3--2 {
  bottom: 4%;
  font-size: 18px;
}
#es-nyx.es-nyx .es-slider__desc3 {
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  text-shadow: 0px 2px 2px rgb(33, 62, 124);
  color: #fff;
}
#es-nyx.es-nyx .es-slider__list {
  margin: 0;
  width: 100%;
  padding: 0 7px;
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translateX(-50%);
}
#es-nyx.es-nyx .es-slider__item {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0;
}
#es-nyx.es-nyx .es-slider__tick {
  margin-top: -15px;
  width: 25px;
}
#es-nyx.es-nyx .es-slider__text {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: "Caveat", sans-serif;
  font-size: 14px;
  color: #fff;
}
#es-nyx.es-nyx .es-slider__wrapper {
  padding: 0 16px;
}
#es-nyx.es-nyx .es-slider__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#es-nyx.es-nyx .es-slider__img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-height: 310px;
}
#es-nyx.es-nyx .es-slider__slide {
  margin: 0 auto;
  width: 90%;
}
#es-nyx.es-nyx .es-slider__content {
  position: relative;
}
#es-nyx.es-nyx .es-slider .es-swiper-pagination {
  padding-top: 50px;
}
#es-nyx.es-nyx .es-slider .es-swiper-slide {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px 0 40px;
}
#es-nyx.es-nyx .es-slider .es-swiper-button-prev:after,
#es-nyx.es-nyx .es-slider .es-swiper-container-rtl .swiper-button-next:after {
  display: none;
}
#es-nyx.es-nyx .es-slider .es-swiper-button-next:after,
#es-nyx.es-nyx .es-slider .es-swiper-container-rtl .es-swiper-button-prev:after {
  display: none;
}
#es-nyx.es-nyx .es-slider .es-swiper-button-next,
#es-nyx.es-nyx .es-slider .es-swiper-container-rtl .es-swiper-button-prev {
  right: -1%;
}
#es-nyx.es-nyx .es-slider .es-swiper-button-prev,
#es-nyx.es-nyx .es-slider .es-swiper-container-rtl .es-swiper-button-next {
  left: -1%;
}
#es-nyx.es-nyx .swiper-pagination-bullet-active {
  background-color: #ffffff;
}
#es-nyx.es-nyx .es-video {
  padding: 2% 10% 8%;
}
#es-nyx.es-nyx .es-video__container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}
#es-nyx.es-nyx .es-video__logo {
  position: absolute;
  width: 10%;
  top: 10%;
  left: -5%;
  z-index: 2;
}
#es-nyx.es-nyx .es-video__opened {
  position: absolute;
  width: 10%;
  bottom: -21%;
  left: -6%;
  z-index: 2;
}
#es-nyx.es-nyx .es-video__glue {
  position: absolute;
  width: 10%;
  bottom: 10%;
  left: -7%;
  z-index: 2;
}
#es-nyx.es-nyx .es-video__closed {
  position: absolute;
  width: 15%;
  top: -10%;
  right: -8%;
  z-index: 2;
}
#es-nyx.es-nyx .es-video__droplets {
  position: absolute;
  width: 14%;
  top: 34%;
  right: -12%;
  z-index: 0;
}
#es-nyx.es-nyx .es-video__wrapper {
  margin: 0 auto;
  width: 80%;
}
#es-nyx.es-nyx .es-video iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#es-nyx.es-nyx .es-cross {
  padding: 80px 20px 20px;
  position: relative;
  width: 100%;
}
#es-nyx.es-nyx .es-cross__upperCtn {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#es-nyx.es-nyx .es-cross__title {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin-left: 0px;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding: 5px 10px;
  text-transform: uppercase;
  background-color: #ED1FFF;
  color: #ffffff;
}
#es-nyx.es-nyx .es-cross__title--1 {
  margin-left: 0;
  margin-bottom: 5px;
  rotate: 3.6deg;
}
#es-nyx.es-nyx .es-cross__title--2 {
  margin-left: 50px;
  rotate: -2.4deg;
}
#es-nyx.es-nyx .es-cross__productsCtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
}
#es-nyx.es-nyx .es-cross__single {
  max-width: 300px;
  margin: 10px;
}
#es-nyx.es-nyx .es-cross__single:hover .es-cross__img {
  transform: scale(1.1);
}
#es-nyx.es-nyx .es-cross__imgCtn {
  padding: 20px;
}
#es-nyx.es-nyx .es-cross__img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  transition: 0.5s all;
}
#es-nyx.es-nyx .es-cross__nameCtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
#es-nyx.es-nyx .es-cross__name {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
#es-nyx.es-nyx .es-cross__descCtn {
  padding: 10px 0;
  min-height: 130px;
}
#es-nyx.es-nyx .es-cross__desc {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
#es-nyx.es-nyx .es-cross__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  background-color: #000;
  width: 200px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  transition: 0.4s all ease-in-out;
  display: block;
  margin: 0 auto;
}
#es-nyx.es-nyx .es-cross__link:hover {
  background-color: transparent;
  outline: 4px solid #000;
}
#es-nyx.es-nyx .es-cross__disc {
  padding: 42px 10% 10px;
}
#es-nyx.es-nyx .es-cross__discText {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  color: #213E7C;
}
#es-nyx.es-nyx .es-footer {
  width: 100%;
  background-color: #000;
  padding: 0 20px;
}
#es-nyx.es-nyx .es-footer__logo {
  margin: 0 auto;
  display: block;
}
@media (min-width: 400px) {
  #es-nyx.es-nyx .es-kv__cruelty {
    top: 27%;
    left: 62%;
    width: 43%;
  }
  #es-nyx.es-nyx .es-ingr__item {
    width: 50%;
  }
  #es-nyx.es-nyx .es-ingr__ingr {
    font-size: 10px;
  }
  #es-nyx.es-nyx .es-ingr__ingr--1 {
    left: -1%;
    top: 76%;
  }
  #es-nyx.es-nyx .es-ingr__ingr--2 {
    right: 2%;
    top: 11%;
  }
  #es-nyx.es-nyx .es-ingr__ingr--3 {
    right: 1%;
    top: 73%;
  }
}
@media (min-width: 500px) {
  #es-nyx.es-nyx .es-kv {
    padding-top: 420px;
  }
  #es-nyx.es-nyx .es-kv__photo {
    max-width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #es-nyx.es-nyx .es-kv__paperWrapper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    padding-left: 40%;
    padding-top: 10%;
  }
  #es-nyx.es-nyx .es-kv__cruelty {
    top: 24%;
    left: 2%;
    width: 33%;
  }
  #es-nyx.es-nyx .es-ingr__ingr {
    font-size: 12px;
  }
  #es-nyx.es-nyx .es-ingr__ingr--1 {
    left: -1%;
    top: 76%;
  }
  #es-nyx.es-nyx .es-ingr__ingr--2 {
    right: 2%;
    top: 11%;
  }
  #es-nyx.es-nyx .es-ingr__ingr--3 {
    right: 1%;
    top: 73%;
  }
  #es-nyx.es-nyx .es-cross__title {
    font-size: 30px;
  }
}
@media (min-width: 650px) {
  #es-nyx.es-nyx .es-kv {
    padding-top: 420px;
  }
  #es-nyx.es-nyx .es-kv__title {
    font-size: 30px;
  }
  #es-nyx.es-nyx .es-kv__photo {
    max-width: 35%;
  }
  #es-nyx.es-nyx .es-kv__listWrapper {
    padding-left: 20%;
  }
  #es-nyx.es-nyx .es-kv__cruelty {
    top: 21%;
    left: 21%;
    width: 33%;
  }
  #es-nyx.es-nyx .es-htu__title {
    font-size: 44px;
  }
  #es-nyx.es-nyx .es-htu__arrow {
    display: block;
  }
}
@media (min-width: 800px) {
  #es-nyx.es-nyx .es-kv {
    min-height: 400px;
  }
  #es-nyx.es-nyx .es-kv__photo {
    max-width: 31%;
  }
  #es-nyx.es-nyx .es-kv__paperWrapper {
    width: 80%;
    padding-left: 33%;
    padding-top: 8%;
  }
  #es-nyx.es-nyx .es-kv__listWrapper {
    padding-left: 20%;
  }
  #es-nyx.es-nyx .es-kv__list {
    padding: 10px 0 0 50px;
  }
  #es-nyx.es-nyx .es-kv__packshotWrapper {
    width: 25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  #es-nyx.es-nyx .es-kv__cruelty {
    top: 54%;
    left: 16%;
    width: 27%;
  }
  #es-nyx.es-nyx .es-ingr {
    min-height: 47vw;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 80%;
  }
  #es-nyx.es-nyx .es-ingr__droplets {
    display: block;
  }
  #es-nyx.es-nyx .es-ingr__subtitle {
    padding: 5px;
  }
  #es-nyx.es-nyx .es-ingr__subtitle--1 {
    width: 20%;
    font-size: 26px;
    line-height: 0.5;
    position: absolute;
    bottom: 43%;
    left: 0;
  }
  #es-nyx.es-nyx .es-ingr__heartWrapper {
    width: 20%;
    position: absolute;
    bottom: 3%;
    left: 1%;
  }
  #es-nyx.es-nyx .es-ingr__upperCtn {
    position: absolute;
    top: 15%;
    left: 12%;
  }
  #es-nyx.es-nyx .es-ingr__wrapper {
    position: absolute;
    width: 55%;
    right: 19%;
    bottom: 4%;
  }
  #es-nyx.es-nyx .es-ingr__item {
    position: absolute;
  }
  #es-nyx.es-nyx .es-ingr__item:hover {
    transform: scale(1.1);
  }
  #es-nyx.es-nyx .es-ingr__item--1 {
    width: 15%;
    bottom: 48%;
    left: 26%;
  }
  #es-nyx.es-nyx .es-ingr__item--2 {
    width: 28%;
    bottom: -2%;
    right: 10%;
  }
  #es-nyx.es-nyx .es-ingr__ingr--1 {
    left: -1%;
    top: 76%;
  }
  #es-nyx.es-nyx .es-ingr__ingr--2 {
    right: -8%;
    top: 31%;
  }
  #es-nyx.es-nyx .es-ingr__ingr--3 {
    right: -10%;
    top: 53%;
  }
  #es-nyx.es-nyx .es-ingr__heartText {
    font-size: 14px;
  }
  #es-nyx.es-nyx .es-ingr__subtitle {
    font-size: 27px;
  }
  #es-nyx.es-nyx .es-ingr__text {
    font-size: 15px;
  }
  #es-nyx.es-nyx .es-htu {
    background-repeat: no-repeat;
    background-position: top right 13%;
    background-size: 88% 62%;
  }
  #es-nyx.es-nyx .es-htu__wrapper {
    flex-wrap: nowrap;
  }
  #es-nyx.es-nyx .es-htu__item {
    width: 24%;
  }
  #es-nyx.es-nyx .es-slider__container {
    flex-wrap: nowrap;
  }
  #es-nyx.es-nyx .es-slider__img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    max-height: 390px;
  }
  #es-nyx.es-nyx .es-slider__list {
    top: 16%;
  }
  #es-nyx.es-nyx .es-slider__name--2 {
    font-size: 20px;
  }
}
@media (min-width: 1000px) {
  #es-nyx.es-nyx .es-kv {
    min-height: 440px;
  }
  #es-nyx.es-nyx .es-kv__title {
    font-size: 44px;
  }
  #es-nyx.es-nyx .es-kv__photo {
    max-width: 33%;
  }
  #es-nyx.es-nyx .es-kv__paperWrapper {
    width: 80%;
    padding-left: 38%;
    padding-top: 8%;
  }
  #es-nyx.es-nyx .es-kv__listWrapper {
    padding-left: 20%;
  }
  #es-nyx.es-nyx .es-kv__list {
    padding: 0 0 0 70px;
  }
  #es-nyx.es-nyx .es-kv__packshotWrapper {
    width: 25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  #es-nyx.es-nyx .es-kv__cruelty {
    top: 62%;
    left: 25%;
    width: 23%;
  }
  #es-nyx.es-nyx .es-ingr__heartText {
    font-size: 20px;
  }
  #es-nyx.es-nyx .es-ingr__subtitle {
    font-size: 40px;
  }
  #es-nyx.es-nyx .es-ingr__text {
    font-size: 20px;
  }
  #es-nyx.es-nyx .es-htu {
    background-size: 88% 74%;
  }
  #es-nyx.es-nyx .es-slider__name--2 {
    font-size: 24px;
  }
}
@media (min-width: 1300px) {
  #es-nyx.es-nyx .es-ingr {
    min-height: 611px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse2 {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideright {
  from {
    opacity: 0.3;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideleft {
  from {
    opacity: 0.3;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes load1 {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@keyframes load2 {
  from {
    width: 0;
  }
  to {
    width: 82%;
  }
}
@keyframes load3 {
  from {
    width: 0;
  }
  to {
    width: 98%;
  }
}/*# sourceMappingURL=style.css.map */